*{
  text-decoration: none;
}
.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #fff;
  margin-bottom: 25px;
  position: relative;
}

.heading h1::after {
  content: "";
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 90%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #c70303;
}

.heading p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.about-image:hover img {
  transform: scale(1.2);
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #fff;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.button1 {
  margin-top: 50px;
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button1,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button1 .button__text {
  transform: translateX(21px);
  color: var(--font-color);
  font-weight: 600;
}

.button1 .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1 .svg {
  width: 20px;
  fill: var(--main-color);
}

.button1:hover {
  background: var(--bg-color);
}

.button1:hover .button__text {
  color: transparent;
}

.button1:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button1:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

@media screen and (max-width: 768px) {
  .heading {
    padding: 0px 20px;
  }
  .heading h1::after {
    width: 75%; 
  }
  .heading h1 {
    font-size: 20px;
  }
  .heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container {
    padding: 0px;
  }
  .about {
    padding: 20px;
    flex-direction: column;
  }
  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content p {
    padding: 0px;
    font-size: 16px;
  }
  .about-content .button1 {
    font-size: 16px;
  }
}
